## Pandas: Creating & Viewing Data

Pandas is a popular package in the Python Machine Learning ecosystem. It is used for data manipulation and analysis and offers many unique features. Pandas is tailored toward working with structured, tabular data, such as the kind of data that you would find in spreadsheets and in relational databases. 

One of Pandas' core data structures is called the DataFrame, which is a two-dimensional table in which data is organized in rows and columns.
Pandas is well integrated in the Python Machine Learning ecosystem. Many common ML libraries work with Pandas DataFrames, allowing for a seamless transition from data preparation to model building.

Pandas is the primary package we will use in this program to operate on data. In this exercise you will use Pandas to practice creating data, accessing and viewing data.

For more information about the Pandas package and Pandas DataFrames, consult the Pandas online [API Reference](https://pandas.pydata.org/docs/reference/index.html).

## Step 1

The code cell below imports the `pandas` package, using its conventional shorthand name, `pd`. It then imports the `numpy` package using its conventional shorthand name, `np`. Run the cell below.

In [2]:
import pandas as pd
import numpy as np

## Step 2

In the code cell below, use numpy's `np.random.normal()` function to create two arrays, each with size=100, loc=0.0, and scale=1.0. Name your arrays `a` and `b`.


If you would like to learn how to use the `np.random.normal()` function, use the help <b>?</b> functionality by running the line `np.random.normal?` in the code cell below. Recall that you can use help by specifying the function name (in this case, `np.random.normal`), followed by `?`. You can also access the online [documentation](https://numpy.org/doc/stable/reference/random/generated/numpy.random.normal.html).

### Graded Cell

The cell below will be graded. Remove the line "raise NotImplementedError()" before writing your code.

In [6]:
a = np.random.normal(loc=0.0, scale=1.0, size=100)
b = np.random.normal(loc=0.0, scale=1.0, size=100)
a

array([ 0.44141255, -0.38912303, -2.50934919, -0.58248573,  0.49991292,
       -0.796007  , -0.18972478, -1.03766545, -1.07117498, -0.37216883,
       -2.03004633,  1.13270628,  0.6036409 , -1.26188746, -1.78140398,
        0.65448374, -0.29569   , -0.9008792 ,  0.88564829, -0.48702778,
       -0.77596906,  0.33004528,  0.56946906, -0.49176131,  0.09902077,
       -0.83570192,  0.04135631, -0.89739551,  0.84516365, -0.10873797,
        1.31395656, -0.46760128, -0.22282476, -0.51935323,  1.13585247,
       -1.32950704, -0.58135748,  1.06608278,  0.11442847,  0.53168384,
        2.20553598, -0.12842799, -1.95433671,  0.99032293,  0.39234071,
        0.31840581,  1.21056528,  0.69422643, -0.1446756 ,  1.93269558,
        1.30962518,  0.15236627, -1.14090681,  1.21316816, -0.50747557,
        1.43885145, -1.86064011,  1.22177558,  0.57509412, -0.14978115,
       -0.62082639, -0.11478488, -1.58686695, -1.17985424,  0.43998858,
        1.69026851, -0.39923901, -0.56356394,  0.21572688, -0.7638417 ,
       -1.14597552,  1.57708614, -1.25902309,  0.49115691, -0.91588654,
        0.95287565,  0.12967683, -0.17368029, -0.72225031,  0.19689309,
        0.31703075, -1.46448242, -0.79029395,  1.26155629, -0.9625125 ,
       -2.44477117, -0.12265827,  1.68401291, -1.5997817 ,  0.07061724,
        1.45299398,  0.44042947,  0.18362149, -0.28639758, -0.61681378,
        0.51387221,  0.99497354, -1.23466062,  0.90246064,  0.69484443])

### Self-Check

Run the cell below to test the correctness of your code above before submitting for grading. Do not add code or delete code in the cell.

In [4]:
# Run this self-test cell to check your code; 
# do not add code or delete code in this cell
from jn import testAB

try:
    p, err = testAB(a,b)
    print(err)
except Exception as e:
    print("Error!\n" + str(e))

Correct!

## Step 3

Now we'll convert our data to a Pandas DataFrame. The `DataFrame()` function is the primary way to create DataFrames. You will use this approach to create a DataFrame out of the two arrays created in the previous step. 

Your DataFrame will contain two columns, named `x1` and `x2`.

1: First create a Python dictionary in which the keys are the names of the columns you want to create, and the values are the arrays. Column `x1` will contain array `a` and column `x2` will contain array `b`. Assign this dictionary to variable `d`.

2: Next use the `pd.DataFrame()` function to convert dictionary `d` to a DataFrame, and assign the result to variable `df`.

For more information on how to use the `DataFrame()` function, consult the online [documentation](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.html#pandas.DataFrame).

### Graded Cell

The cell below will be graded. Remove the line "raise NotImplementedError()" before writing your code.

In [8]:
d = {'x1': a, 'x2': b}
df = pd.DataFrame(d)
df

          x1        x2
0   0.441413  0.750737
1  -0.389123  0.172735
2  -2.509349  0.645523
3  -0.582486 -0.427893
4   0.499913 -0.341789
..       ...       ...
95  0.513872 -0.100702
96  0.994974 -0.136985
97 -1.234661  0.241281
98  0.902461  0.979960
99  0.694844  0.612857

[100 rows x 2 columns]

### Self-Check

Run the cell below to test the correctness of your code above before submitting for grading. Do not add code or delete code in the cell.

In [9]:
# Run this self-test cell to check your code; 
# do not add code or delete code in this cell
from jn import testDf

try:
    p, err = testDf(d,df,a,b)
    print(err)
except Exception as e:
    print("Error!\n" + str(e))

Correct!

### Step 4

The Pandas `head()` method allows you to view the first <i>n</i> rows in a DataFrame. The syntax is `DataFrame_obj.head()`. You can consult the [online documentation](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.head.html) to see how to use this method. You can also use IPython's `help` functionality by typing `df.head?` in the cell below. Recall that you can obtain documentation by specifying the object name (in this case, `df`), followed by the method or property (in this case, `head`), followed by `?`.


In the code cell below, use the `head()` method to view the first 5 rows of dataframe `df`.

In [10]:
# YOUR CODE HERE - this cell will not be graded
df.head(5)

         x1        x2
0  0.441413  0.750737
1 -0.389123  0.172735
2 -2.509349  0.645523
3 -0.582486 -0.427893
4  0.499913 -0.341789

### DataFrame Indexing and Slicing

As you have seen, DataFrames are two-dimensional tables, labeled by row and column names, containing a set of column-oriented data such that each column has a particular datatype (dtype). Like Python lists, Pandas DataFrames use 0-based indexing. That is, the first row in a DataFrame has an index of 0 and the first column in a DataFrame has an index of 0.

You may be familiar with indexing, which is the process of accessing elements of data in a data structure such as a list or a dictionary by specifying which element(s) one is interested in. Just as you can index into Python lists and dictionaries, you can also index into Pandas DataFrames. Because DataFrames have row and column labels (names), Pandas provides a very useful ability to index, either based on those labels or on the positions of rows and columns. For example: Python lists and NumPy arrays are indexed by integer position (e.g., ```my_list[3]``` or ```my_array[5,7]```), while Python dictionaries are indexed by keys (e.g., ```my_dict['name']```).  Because Pandas DataFrames contain data in a positional order, *and* have row and column labels, they can be indexed both by position and by label. You can also "slice" a Pandas DataFrame. Slicing allows you to select a subset of rows or columns from the DataFrame. Just as with Python lists, slicing is supported using the colon operator ```:``` (you can also use the colon operator to slice into NumPy arrays).


#### Mechanisms for indexing and Slicing

Indexing and slicing DataFrames can be done through various mechanisms: 

* ```[]```
* ```loc[]```
* ```iloc[]```


The first of these, ```[]```, is the square-bracket based indexing that we are familiar with from Python lists and  dictionaries.  Because Pandas DataFrames are generally column-oriented, however, indexing with square brackets results in selecting a particular column based on its label. Each column in the DataFrame is of the Pandas Series datatype, which is a one-dimensional array, similar to a NumPy array. We can loosely think of a DataFrame as something like a dictionary of Series objects: each column label is like a key, and the value associated with that key is the data in that particular column, which is a Pandas Series.  For example, ```df['x2']``` will extract the column labeled 'x2' and will return a Series. 

You can slice a DataFrame using square-bracket based indexing. This will allow you to slice the rows in the DataFrame using an integer range. For example, `df[:3]` will return the first three rows in the DataFrame.

Indexing and slicing a DataFrame using ```loc``` is more general, in that it enables you to access both rows and columns based on their labels.  It uses the same sort of multi-dimensional indexing that you may have seen with other data structures (e.g. `[][]`), although with row and/or column labels rather than integer positional indexes.  By this we mean that the first entry in an index refers to row label, and the second index refers to a column label.  If only one entry is specified, it is used to identify a row in a DataFrame. The syntax for `loc` is `DataFrame_obj.loc[]` or `DataFrame_obj.loc[][]`. 

On the other hand, `iloc` allows you to access rows and columns with specific integer positions (integer-based indexing). The syntax for `iloc` is `DataFrame_obj.iloc[]` or `DataFrame_obj.iloc[][]`.


In the steps below, you will practice indexing and slicing a DataFrame using some of the above methods.  Online Pandas documentation describing indexing and slicing in great detail can be found [here](https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html).

### Step 5

Add a new column to your `df` DataFrame. You can add this new column to `df` by:
1. using bracket notation and specifying the label of the new column: <code>df['new_column_label']</code>
2. assigning it the values of the column: 
<code>df['new_column_label'] = column values</code>


Name your new column <b>x3</b>.  Column <b>x3</b> will consist of the sum of the values in column <b>x1</b> and column <b>x2</b>. Hint: You can access each column using bracket notation as seen above, and you can add entire columns together using the addition operation (`+`).

After you have added the new column `x3` to DataFrame `df`, use the `head()` method to examine the new values in `df`.

### Graded Cell

The cell below will be graded. Remove the line "raise NotImplementedError()" before writing your code.

In [12]:
df['x3'] = df['x1'] + df['x2']
df

          x1        x2        x3
0   0.441413  0.750737  1.192150
1  -0.389123  0.172735 -0.216388
2  -2.509349  0.645523 -1.863826
3  -0.582486 -0.427893 -1.010379
4   0.499913 -0.341789  0.158124
..       ...       ...       ...
95  0.513872 -0.100702  0.413171
96  0.994974 -0.136985  0.857989
97 -1.234661  0.241281 -0.993380
98  0.902461  0.979960  1.882420
99  0.694844  0.612857  1.307701

[100 rows x 3 columns]

### Self-Check

Run the cell below to test the correctness of your code above before submitting for grading. Do not add code or delete code in the cell.

In [8]:
# Run this self-test cell to check your code; 
# do not add code or delete code in this cell
from jn import testCol

try:
    p, err = testCol(df)
    print(err)
except Exception as e:
    print("Error!\n" + str(e))

Correct!

### Step 6

Oftentimes you may want to access a value in a specific example (row) in your DataFrame. Run the code cell below and examine the values in DataFrame `df`. Note the value in column <b>x1</b> of row <b>5</b> (row with the index of 5).

In [9]:
df.head(6)

         x1        x2        x3
0  0.151264  2.935226  3.086490
1 -1.712146 -0.471143 -2.183289
2  0.232983  0.422416  0.655399
3  1.402881  0.425208  1.828089
4 -1.111906 -1.118085 -2.229991
5  1.026413 -0.257546  0.768867

Pandas allows you to retrieve this value. It allows you to access a row as if it were a list using either `iloc` or `loc`. You can specify the column and row by using bracket notation and supplying either the label when using `loc` or its numerical index position when using `iloc`. 

Examine the code in the cells below and run the cells to see the results. Notice that they both return the expected value.

In [10]:
# Note that while loc accesses rows based on their labels (names), the code is using an integer value to 
# access the row. 
# This is because in DataFrame df, a row's label is the same as its numerical index position.
# Therefore loc is using the label of 5 to access the row

df.loc[5]['x1']

1.0264127291788026

In [11]:
df.iloc[5][0]

1.0264127291788026

### Step 7

You can also access a subset of rows and columns in a DataFrame using slicing. The code cell below retrieves the rows starting at row 10 and ending at row 13.

In [12]:
df[10:14]

          x1        x2        x3
10 -2.687571  0.114403 -2.573168
11 -1.806476  0.206930 -1.599546
12  0.833279 -0.586585  0.246694
13  0.695995  0.706635  1.402631

You can also use slicing to specify every nth value. The code cell below outputs every 8th row in the DataFrame.

In [13]:
df[::8]

          x1        x2        x3
0   0.151264  2.935226  3.086490
8  -0.569635  0.471766 -0.097869
16 -0.432722 -0.926613 -1.359335
24  0.517338  1.406661  1.923999
32  1.070123 -2.223855 -1.153732
40 -1.294638  1.557382  0.262743
48 -0.894717  1.902411  1.007693
56 -0.063296  0.366259  0.302963
64 -0.196434 -0.811358 -1.007792
72  0.846140 -1.601955 -0.755815
80  0.776773  1.574900  2.351673
88  0.680490 -0.851682 -0.171191
96 -1.020790  0.096987 -0.923803

The cell below uses `iloc` to return the column with an index of 2 (column: `x3`) in rows 10-13.

In [14]:
df.iloc[10:14, [2]]

          x3
10 -2.573168
11 -1.599546
12  0.246694
13  1.402631

### Step 8

Often times you may want to select rows based on the rows meeting certain conditions. This can be done with the syntax of `DataFrame_obj[condition]` where the <b>condition</b> represents some boolean condition on the data. 

The code cell below uses this method to find out how many rows have a value greater than 1 in column <b>x3</b>. 
Run the cell below and inspect the results. You will see all of the rows in the DataFrame in which this condition is met.

In [18]:
df[df['x3']>1]

          x1        x2        x3
0   0.151264  2.935226  3.086490
3   1.402881  0.425208  1.828089
7   1.001344  2.569518  3.570862
13  0.695995  0.706635  1.402631
18 -0.452037  1.559445  1.107409
19  0.790251  0.275522  1.065774
23  0.369460  0.820101  1.189561
24  0.517338  1.406661  1.923999
33  1.189502 -0.034384  1.155117
34  1.346651 -0.211655  1.134995
36  1.332556 -0.068337  1.264219
38  1.723317  2.049303  3.772620
48 -0.894717  1.902411  1.007693
50  0.710616  0.661459  1.372075
58  2.873089  1.172903  4.045992
73  1.086159  0.059866  1.146025
74  1.798017  1.201106  2.999123
80  0.776773  1.574900  2.351673
97  0.473382  0.677902  1.151284
98 -0.324832  1.379063  1.054231

You can use the DataFrame property `shape` to access the row count and see how many rows meet the specified condition. Run the cell below and inspect the results. 

For more information about the `shape` property, consult the online [documentation](https://pandas.pydata.org/pandas-docs/dev/reference/api/pandas.DataFrame.shape.html).

In [23]:
df[df['x3']>1].shape[0]

20